/*==================================================
  Template Name: WE ARE CREATIVE
  Description: A Social Template
  Author: exabytelab
  Version: 2.1
==================================================*/

/*==================================================
  [Table of Contents]
  --------------------------------------------------
  - body
    - Typography
    - Common classes
    - Header
    - Homepage
      - Top Banner
      - Signup Form
      - Features
      - App Download
      - Image Divider
      - Site Facts
      - Live Feed
    - Landing Page | Register 
    - Newsfeed 
      - Left Sidebar
      - Right Sidebar
      - Create Post Box
      - Post Contents
      - Nearby People
      - Friend List
      - Chat Room
      - Media: image and video 
    - Timeline
      - Timeline Sidebar
      - Post Date
      - About Profile
      - Profile Album
    - Edit Profile
    - Contact Us
    - Footer
    - Media Queries
    - Slide Animations
    - Scroll Down Arrow
    - Preloader
==================================================*/

/*=========================
  body
=========================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

html {

 scroll-behavior: smooth;

}

body{
  font-family: 'Lato', sans-serif;
  line-height: 26px;
  color: #4e4e4e;
  font-size: 13px;
   scroll-behavior: smooth;
}


/*=========================
 Typography
=========================*/

@font-face{
  /*font-family: "Code Pro";*/
  /*src: url(Code Pro Black LC_0.otf);*/
  font-style: normal;
  font-weight: 600;
}

h1{
  font-family: 'Code Pro';
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 5;
}
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
p {
 text-transform: uppercase;
 font-size: 13px;
 line-height: 22px;
 letter-spacing: 1px;
 }


/*=========================
 Common classes
=========================*/

,::after,::before{box-sizing:border-box;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
button{background-color:#fff;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
}
/*! CSS Used from: http://product.arcthemes.com/landinx-html/landinx/assets/vendor/magnific-popup/css/magnific-popup.min.css */
button::-moz-focus-inner{padding:0;border:0;}
/*! CSS Used from: http://product.arcthemes.com/landinx-html/landinx/assets/css/styles-1.css */
.subscription-form{position:relative;margin-top:20px;border:none;}
.subscription-form input{width:100%;font-size:16px;padding:10px 30px;border:none;border-radius:50px;padding-right:160px;background:white;color:black;border:none;box-shadow:0 9px 32px 0 rgba(0,0,0,.06);}
.subscription-form input:focus{outline:none!important;}
.subscription-form button{position:absolute;right:0;top:0;height:100%;border:none;border-radius:0 50px 50px 0;min-width:140px;background:#7979799c;color:#ffff;font-weight:600;cursor:pointer;}
.subscription-form button:focus{outline:none;}
.subscription-form ::-webkit-input-placeholder{color:#fff;}
.subscription-form :-ms-input-placeholder{color:#fff;}
.subscription-form ::-ms-input-placeholder{color:#fff;}
.subscription-form ::placeholder{color:#fff;}

.common-heading{
  font-family: "Roboto", sans-serif;
  padding-top: 85px;
  z-index: 5;

}

.common-heading h1{
  
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;

}
.common-heading p{
  max-width: 60%;
  margin-left: 20%;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  transition: color 0.2s linear, background-color 0.2s linear;
  border: 1px solid black;
  color: #6c757d;
}

.btn.btn-round {
  -webkit-border-radius: 40px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 40px;
  -moz-background-clip: padding;
  border-radius: 40px;
  background-clip: padding-box;
}

.row{
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
 

}
li a{
  letter-spacing: 2px;
  font-size: 15px;
  color: #4e4e4e;
  font-weight: bold;
    text-decoration: none;
     list-style: none;
  line-height: 50px;
}
button{
	z-index: 100;
}
header{
	background: rgb(44,83,158); 
	background: -moz-linear-gradient(top, rgba(44,83,158,1) -2%, rgba(44,83,158,1) -1%, rgba(59,87,211,1) 0%, rgba(59,87,211,1) 0%, rgba(44,83,158,1) 0%, rgba(44,83,158,1) 34%, rgba(59,87,211,1) 87%, rgba(59,87,211,1) 95%, rgba(59,87,211,1) 95%, rgba(59,87,211,1) 100%, rgba(44,83,158,1) 100%); /* FF3.6-15 
	background: -webkit-linear-gradient(top, rgba(44,83,158,1) -2%,rgba(44,83,158,1) -1%,rgba(59,87,211,1) 0%,rgba(59,87,211,1) 0%,rgba(44,83,158,1) 0%,rgba(44,83,158,1) 34%,rgba(59,87,211,1) 87%,rgba(59,87,211,1) 95%,rgba(59,87,211,1) 95%,rgba(59,87,211,1) 100%,rgba(44,83,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(44,83,158,1) -2%,rgba(44,83,158,1) -1%,rgba(59,87,211,1) 0%,rgba(59,87,211,1) 0%,rgba(44,83,158,1) 0%,rgba(44,83,158,1) 34%,rgba(59,87,211,1) 87%,rgba(59,87,211,1) 95%,rgba(59,87,211,1) 95%,rgba(59,87,211,1) 100%,rgba(44,83,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */;
	width: 100%;
  height: 860px;
  position: relative;
  color:white;
  mix-blend-mode: darken;

}
.nav-link:active{
color: white
}

.nav-item{
   text-transform: uppercase;
   letter-spacing: 2px;
   z-index: 6;
   color: #989897;
}
.navbar-light .navbar-nav .nav-link{
  color:  #989897;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:  white;
}

.header-backgound {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#home-section {
position: relative;
}
#home-section::after{
  
    content: '';
    left: 0;
    top: 15%;
    height: 100%;
    width: 100%;
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 5;
}

.top-title{
 margin: 96px -178px 0px 143px;
  position: absolute;

}
.haf-c{
  position: absolute;
  max-width: 50%;
  margin-left:-130px;
  background-blend-mode: screen;
}
.top-c{
  max-width: 66%;
  margin-top: 100px;
}
.center-text h1{
    padding-top: 80px;
  }
 .dot{
  padding:0px 12px;
  cursor: pointer;
  margin: 0 2px;
  color:#bbb5b5a1;
  border-bottom:0.5px solid #bbb5b5a1;
}
.number{
  position: absolute;
  z-index: 5;
}
.center-img{
    position: relative;
    width: 200px;
    margin-bottom: -20px;
}
.center-text h1{
    padding-top: 80px;
 
  }
.center-text h1{
    padding-top: 80px;
  }
.mr{
    margin-top: 11%;
    position: relative;
     z-index: 6;
  }
.down-play{
    position: relative;
    margin-top: 25%;
    margin-right: 50px;
    z-index: 6;
 }
 #home-section .image-background{
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 74%;
    background: url(images/new/home_img.png) ;
    background-size: cover;
    position: absolute;

}
.image-background:after{
 background-color:#0d3d8f;
 z-index: 5;
 }


section {
  position: relative;
  width: 100%;
  height: 100%;
}


center center / cover no-repeat;}
#section10 { background: url(https://picsum.photos/1200/800?image=516) center center / cover no-repeat;}


.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
 
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(.6);
}
/*
End Header section 
=======================
Start About section
*/
#About-section{
background:url(images/bg.png);
z-index: 15;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-blend-mode: screen;
}
.about-c img{
    position: absolute;
    z-index: 5;
    margin-left: -72px;
    margin-top: -87px;
    max-width: 15%;
}
.About-background{
    position: absolute;
    z-index: 6;
    padding-top: 15%
}

#About-section .card{
margin: 10px;
}

#About-section .container{

    border-bottom-width: 10px;
    padding-bottom: 100px;
    /* margin-bottom: 52px; */

}
.card img{
  max-width: 65%;
}
#portfolio .card img{
  max-width: 100%;
}
.secound-title{
  margin-top: 15%;
}
.background-c1{
background:url(images/c1.png);
z-index: 15;
max-width: 100%;
max-height: 20%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


.text-secondary{
  padding-left: 24%;
}

#About-section a{
  border: 1px solid black;
}

#About-section a:hover{
 background-color: #3a56d1;
 color:white;
}
/*================================
================================*/
/* #Articles .haf-c{
  color:red;
  height:30px;
  width: 30px;
  z-index: 10;
} */


/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
  
} 

#portfolio .portfolio-thumb .portfolio-overlay {
  background: rgb(44,83,158);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/*#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}
*/
.portfolio-item{
  position: absolute;
  z-index: 2;
}
#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 30% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: rgb(44,83,158);
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}
.img-text{
  background-color: #efddddd4;
  margin-top: 190px;
  color:black;

}
.btn{
  border:0px solid white;
}
/*modal  video play*/

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 20px;
    font-weight:bold ;
    letter-spacing: 2px;
    padding: 8px 30px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
 background: skyblue;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
 background: #3a56d1;
 color: #ffffff;
}
.image-c{
  margin-left: 30%;
}

.world{
 
  z-index: 10;
  background: rgb(44,83,158);
   position: relative;
}
.world-img{
    content: '';
    top: 0;
    left: 0;
    width: 74%;
    background: url(images/new/world_map.png) ;
    background-size: cover;
 
}
.over-lay{
    background: rgb(44,83,158);
    overflow: hidden;
    height: 100%;
    z-index: 2;

}


/*start footer section*/

.sub-fotter{

}
.margin-top{
  margin-top: 14%;
  color:#4e4e4e;
}

.footer p{
  margin-top:15px;
}
#footer-text-subscribe h3{
    margin-top: 58%;
    margin-left: 18%;
}

#line .one:after {
  content : "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: 100;
  left: 42%;
  width: 1px;
  bottom: 0%;
  height: 72%;  /* or 100px */
  background: #007bff40;
}
#line .two:before {
  content : "";
  position: absolute;
  left: 0;
  top: 35%;
  right: 0;
  left: 30%;
   
  width: 210%; /* percentage of the element width*/
  border-bottom:1px solid #007bff40;
  margin-top:1.2em; /*move the border below the text*/
    }
  .sub-fotter .sm-c{
    bottom: 49%;
    left: 30%;
  }
/*========================================
  ========================================*/
@media only screen and (max-width: 1200px){
 h1{
 
  font-size: 31px;
  margin-right: 3px;
}
p{
 padding-left: 0px;
}
.float i{
  	width: 65px;
  	margin: 0px;
  	padding: 0px;
  }
.top-title{
    margin: 96px -178px 0px 158px;
  }
  }
/*  ========================================
  ========================================*/
@media only screen and (max-width: 1023px){
 h1{
 
  font-size: 23px;
  margin-right: 5px;
}
p{
  padding-left: 0px;
}
.float img{
  		 width: 55px;
  		 margin: 0px;
  		 padding: 0px;
  	}
.top-title{
    margin: 100px -26px 0px 126px;
  }
.down-play{
  position: relative;
    margin-top: 60%;
    margin-right: 50px;
    z-index: 7;
  }
/*===========================================
  ===========================================*/
  @media only screen and (max-width: 767px){
 h1{
 
  font-size: 30px;
  margin-right: 0px;
}
.float img{
  		 width: 45px;
  		 margin: 0px;
  		 padding: 0px;
  	}
.top-title{
    margin: 97px -178px 0px 122px;
  }
  }
/*========================================
  ========================================*/
@media only screen and (max-width: 480px){
header{
  height: 650px;
}
h1{
 
	font-family: 'Code Pro';
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 200;
	z-index: 5;
	font-size: 23px;
  margin-right: 10px;

}
h2{
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 23px;
}
p {
 text-transform: uppercase;
 font-size: 10px;
 line-height: 22px;
 letter-spacing: 1px;
 margin-right: 10px;
 }
.center-text h1{
    padding-top: 40px;
}

ul li{
  display: inline-block;
}
.mr img{
  		display: none;
      z-index: 6;

}
.mr{
    margin-top: 0px;
    position: relative;
     z-index: 6;
  }
.haf-c{
  display: none;
  }
.top-title{
    margin: 70px 0px 0px 110px;
  }
.top-c{
    max-width: 50%;
    margin-top: 100px;
  }
.down-play img{
    position: relative;
    margin-top: 94%;
    z-index: 5;
  }



#About-section .card {
    max-width: 100%;
    margin-left: 0%; 
  }


  /* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
  height: 100%;
  clear: both;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
} 

#portfolio .portfolio-thumb .portfolio-overlay {
  background: rgb(44,83,158);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/*#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}
*/
.portfolio-item{
  position: absolute;
  z-index: 2;
}
#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 30% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: rgb(44,83,158);
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}
.img-text{
  background-color: #efddddd4;
  margin-top: 190px;
  color:black;

}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 20px;
    font-weight:bold ;
    letter-spacing: 2px;
    padding: 8px 30px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
 background: rgb(44,83,158);
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
 background: rgb(44,83,158);
 color: #ffffff;
}
.img-bg{

  position: absolute;
}
.img-c{
  position: absolute;
  margin-left: 100px;
}
form{
  background-color: skyblue;  
}
#footer-text-subscribe li a{
  letter-spacing: 2px;
  color: #4e4e4e;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10%;

}

@include media-breakpoint-down(xs) {
  .center-img{
    position: relative;
    width: 80px;
    margin-left: 0px;

   
  }
    .center-img{
    position: relative;
   
    margin-left: 0px;

   
  }
   .center-text h1{
    padding-top: 0px;
 
  }
  .center-text p{
    padding: 0px 0px 0px 50px !important;
  }
    

}
@include media-breakpoint-down(sm) 

   .center-text h1{
    padding-top: 0px;
 
  }
  .center-text p{
    padding: 0px 0px 0px 50px !important;
  }
}
@include media-breakpoint-down(md) 
  .center-img{
    position: relative;
    width: 200px;
    margin-left: 130px;
   
  }
  .center-text h1{
    padding-top: 80px;
 
  }
  .center-text p{
    padding: 0px 0px 0px 182px !important;
  }
  @media only screen and (max-width: 1200px){
  .float img{
       width: 65px;
       margin: 0px;
       padding: 0px;
    }
  }
   @media only screen and (max-width: 1023px){
      .float img{
       width: 55px;
       margin: 0px;
       padding: 0px;
    }
  }
   @media only screen and (max-width: 767px){
      .float img{
       width: 45px;
       margin: 0px;
       padding: 0px;
    }
  }
@media only screen and (max-width: 480px){
    h1{
  font-family: 'Code Pro';
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 200;
  z-index: 5;
  font-size: 23px;

}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 23px;
}
h4{
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
}
p {
 text-transform: uppercase;
 font-size: 12px;
 line-height: 15px;
 letter-spacing: 1px;
 }
.center-text h1{
    padding-top: 40px;
}

.float img{
       width: 35px;
       margin: 50px;
       padding: 0px;
      
    }
.center-text p{
    padding: 0px 20px 0px 50px !important;
  }
.center-img{
    position: relative;
    width: 100px;
    margin-left: 25px;
  }
  .img-1{
  margin: 0px;
  padding: 0px;

}
.image-c{
  margin-left: 2%;
}

