
//Variable

$heading:'Playfair Display', serif;
$primary-heading:'Open Sans', sans;
$general-font:'Times New Roman', Times, serif;
$primary-color:#404040;
$heading-color:#bd9763;
$general-color:#8a8a8a;
$theme-color :#4b1dc9;

//nav style
#header {
    background: transparent;
}
nav{
   
    li a{
        
        color:#6096DA!important;
        font-family: $primary-heading;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition : 0.50s;
        &:hover{
            color:#fff!important;
        }
    }
    
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: #fff!important;
    }
    .dropdown{

            border-radius:0;
        
        li a{

            font-weight:700;
            padding: 8px 8px;
            // border-bottom: 1px solid $primary-heading;
            border-bottom: 1px solid #6096DA;
            &:hover{
                // color:  #fff;
                background-color: #6096DA!important;
            }
            &:active{
                color: #fff;
                text-decoration: none;
                background-color: #6096DA!important;
            }
            &:focus{
                color: #fff;
                text-decoration: none;
                background-color: #6096DA!important;
            }
        }
    }

    .dropdown-item:active {
    // color: #fff;
    text-decoration: none;
    background-color: #6096DA!important;
                    }
    .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    }
}

#hero {
    margin-top: 0;
    position: relative;
    .lear-one {
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 1;
        mix-blend-mode: darken;
        // <img src="images/new/home_img.png" alt="" class="under">
        background: url('images/new/home_img.png');
        background-repeat:no-repeat;
        background-position:right center;
        background-color: #0C3C91;// rgba(21, 88, 175, 0.566);
        background-blend-mode: multiply;
        .under {
            height: 100vh;
            position: relative;  
            mix-blend-mode: darken;
        }
        .upper {
            position: absolute;
            top: 2rem;
            right: 0;
        }
    }
    .lear-two {
        position: absolute;
        background: url(images/new/hom_c.png) left bottom no-repeat;
        // background-size: cover;
        // background-color: rgba(21, 88, 175, 0.566);
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 222;
        
    }
    .lear-three {
        position: absolute;
        z-index: 333;
        top: 20%;
        left: 0;
        width: 100%;
        height: 100vh;
        color: rgb(218, 209, 209);
        .col-md-7 {
            .lte-under {
                position: relative;
                height:200px;
                width: 200px;
                
            }
            .lte-upper {
                position: absolute;
                top: 26%;
                left:0;
                padding-left: 20px;
                padding-right: 30px;
               
                border-left: 1px solid grey;
                .outer {
                    width: 1px;
                    height: 100vh;
                    margin:  auto;
                    position: relative;
                    overflow: hidden;
                  }
                  .inner {
                    position: absolute;
                    width:100%;
                    height: 40%;
                    background: grey;
                    top: 30%;
                    box-shadow: 0px 0px 30px 20px grey;
                  }
                 .owl-dots {
                    text-align: left;
                    padding-top: 50px;
                    margin-left: -150px;
                    .owl-dot {
                        display: block !important;
                        zoom: 2;
                        border-bottom: 1px solid grey;
                        span {
                            background: rgba(65, 119, 206, 0.623)!important;
                            border-radius: 30px;
                            
                        }
                        
                    }
                    .owl-dot.active span, .owl-dot:hover span {
                        background: rgba(3, 29, 71, 0.877)!important;
                        border-radius: 30px;
                    }
                   
                   
                }
            }
        }
        .col-md-5 {
            padding-top: 300px;
            .vertical-text {
                transform: rotate(90deg);
                transform-origin: left top 0;
            }
        }
    }
    
    .lear-two {

        .p-relat {
            // padding-left:35px;
            .outer {
                width: 1px;
                height: 100vh;
                margin: auto;
                position: relative;
                overflow: hidden;
              }
              .inner {
                position: absolute;
                width:100%;
                height: 40%;
                background: grey;
                top: 30%;
                box-shadow: 0px 0px 30px 20px grey;
              }    
        }
        .p-absol {
            position: absolute;
            z-index: 555;
            .hr-outer {
                width: 50%;
                height: 1px;
                margin: auto;
                position: relative;
                overflow: hidden;
               
              }
              .hr-inner {
                position: absolute;
                width:50%;
                height: 40%;
                background: grey;
              /*   top: 0%; */
                box-shadow: 20px 0px 30px 20px grey;
              }
        }
          
    }

    .play {
        width: 100%;
        display: block;
        margin: 30px 0;
        a {
            width: 64px;
            height: 64px;
            display: table;
            margin: 0 auto;
            text-align: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            &:hover {
                text-decoration: none;
            }
            i {
                font-size: 20px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }


.pulse {
    display: table;
    width: 100px;
    height: 100px;
    background-color: rgba(12, 61, 145, 0.37);
    color: #0C3C91;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 rgba(121, 142, 234, 0.4);
    box-shadow: 0 0 0 rgba(121, 142, 234, 0.4);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    &:focus {
        outline: none;
    }
    i {
        font-size: 30px !important;
        display: table-cell;
        vertical-align: middle;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(#fff, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(#fff, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(#fff, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(#fff, 0.4);
        -webkit-box-shadow: 0 0 0 0 rgba(#fff, 0.4);
        box-shadow: 0 0 0 0 rgba(#fff, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(#fff, 0);
        -webkit-box-shadow: 0 0 0 30px rgba(#fff, 0);
        box-shadow: 0 0 0 30px rgba(#fff, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(#fff, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(#fff, 0);
        box-shadow: 0 0 0 0 rgba(#fff, 0);
    }
}

#section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
    
}

/*
-----------------------------------------
9.About section Section
-----------------------------------------
*/

#About-section {
  background: url(images/new/c-b.png);
  background-repeat:no-repeat;
  background-position:right bottom -100px;
  background-size: 450px;
  background-blend-mode: multiply;
}



/*
-----------------------------------------
9.Portfolio Section
-----------------------------------------
*/

#protfolio{
  background:  url('images/new/c-b.png');
  background-repeat:no-repeat;
  background-position:left 300px top -100px;
  background-size: 450px;
  background-blend-mode: multiply;
  .btn {
    color: #fff;
    background: #0C3C91;
    border: 1px solid #0C3C91;
    width: 150px;
    margin: 10px 25px;
    &:hover {
      color: #0C3C91;
      background: transparent;
    }
  }

  .all {
    text-align: center;
  }
  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    &:hover{
      -webkit-filter: none;
    filter: none;
    }
  }
}

/*
-----------------------------------------
10. Article Section
-----------------------------------------
*/

// background: url(images/new/c-b.png);
//   background-repeat:no-repeat;
//   background-position:right bottom -100px;
//   background-size: 450px;
//   background-blend-mode: multiply;

#articles {
  background: url('images/c1.png');
  background-repeat:no-repeat;
  background-position: right top ;
  background-size: 450px;
  background-blend-mode: multiply;
    .common-heading {
        background: url('images/c.png');
        background-repeat:no-repeat;
        background-position:left 500px center;
        background-size: 180px;
        background-blend-mode: multiply;
   
    }
    .text-area {
        background: url('images/bg.png'), url('images/new/c-b.png');
        background-repeat:no-repeat;
        background-position:left center, right 350px bottom 50px;
        background-size: cover,  450px;
        background-blend-mode: multiply;
    }
}

/*
-----------------------------------------
10. At  a Glance Section
-----------------------------------------
*/

.features-icons {
  
    padding-top:3.75rem;
    padding-bottom:3.75rem;
    color: #212529;
    background: url('images/new/home_img.png'),  url('images/new/cc.png'),  url('images/new/c-b.png');
    background-repeat:no-repeat;
    background-position:right center, left 70px center, top 190px center;
    background-color: rgba(12, 61, 145, 1);// rgba(21, 88, 175, 0.566);
    background-blend-mode: multiply;
    
   
  }
  
  .features-icons .features-icons-item {
  
    width: 300px;
  
  }
  
  .features-icons .features-icons-item .features-icons-icon {
  
    height:2rem;
    
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
  
    font-size:1.75rem;
    // padding-bottom: 2.5rem;
    border-radius: 100%;
    background:transparent;
    color: #fff;
    width: 64px;
    height: 64px;
    line-height: 20px;
    text-align: center;
    padding: 20px 0 0 0px;
    margin-bottom: 10px;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.25s;
    cursor: pointer;
    border: 2px solid #fff ;
    border-right: 2px solid transparent;//#0C3C91;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
  
    font-size:2rem;
    // color: $linear-gradient-2;
    background: #0C3C91;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 1px solid ;
    transition: all 0.25s;
  
  }

  
//team-----------------------------
#team {
  background:  url('images/new/c-b.png');
  background-repeat:no-repeat;
  background-position:top -170px center, center center;
  background-size: 700px, cover;
  background-blend-mode: multiply;
  .owl-item {
    background: transparent;
    // text-align: center;
  }
  .owl-carousel .owl-item .single-staff-item img{
    // max-width: 325px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    // border: 8px solid hsl(218, 76%, 39%);
    // border-right: 7px solid #fff;
    box-shadow: 
    0 0 0 10px hsl(218, 76%, 39%),
    0 0 0 15px hsl(218, 68%, 56%),
    0 0 0 20px hsl(218, 38%, 59%),
    0 0 0 25px hsl(218, 27%, 60%),
    0 0 0 30px hsl(219, 20%, 80%);
   
}
.staff-meta {
    font-size: 12px;
    color: #b7b7b7;
    margin-top: 50px;
}

.staff-meta h3 {
    font-size: 20px;
    margin: 0 0 10px;
}
.staff-list .owl-nav button {
    display: inline-block;
    width: 120px;
    height: 50px;
    // color: #0C3C91!important;
    color: #f3f3f3 !important;
    background-color: #0C3C91 !important;
    margin-left: 10px;
    transition: .3s;
    border: 2px solid #fff;
    // border-top-right-radius: 25px;
    // border-bottom-left-radius: 25px;
    background:  url('images/new/c-b.png');
  background-repeat:no-repeat;
  background-position:left center;
  background-size: 50px;
  background-blend-mode: multiply;
}
.staff-list .owl-nav button:hover{
    background: #fff!important;
    color: #0C3C91 !important;
    background:  url('images/new/c-b.png');
    background-repeat:no-repeat;
    background-position:left center;
    background-size: 50px;
    background-blend-mode: multiply;
}
.staff-list .owl-nav {
    position: absolute;
    right: 0;
    // top: -46px;
}
.staff-desc{
    margin-top: 20px;
}
}

/*
-----------------------------------------
10. subscrib Section
-----------------------------------------
*/
#subscribe {
  background-color: rgba(12, 61, 145, 1);
  color:#fff;
  padding-top:3.75rem;
  padding-bottom:3.75rem;
  background: url('images/new/home_img.png'),  url('images/new/cc.png'),  url('images/new/c-b.png');
  background-repeat:no-repeat;
  background-position:right center, left 70px center, top 190px center;
  background-attachment: fixed;
  background-color: rgba(12, 61, 145, 1);// rgba(21, 88, 175, 0.566);
  background-blend-mode: multiply;
}


  //footer-------------------------------
  // #footer-text-subscribe {
    
 
  // }
  .footer-icon a {
    padding: 0 5px; 
   i{
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     width: 36px;
     height: 36px;
     text-align: center;
     // border-radius: 50%;
     // background-color: #ddd;
     padding: 10px 10px;
     // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     transition: all 0.25s;
     &:hover {
       color:  #0C3C91;
       background-color: #fff;
       box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
     }

    }
  }