#header {
  background: transparent;
}

nav li a {
  color: #6096DA !important;
  font-family: "Open Sans", sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
}
nav li a:hover {
  color: #fff !important;
}
nav .show > .nav-link,
nav .active > .nav-link,
nav .nav-link.show,
nav .nav-link.active {
  color: #fff !important;
}
nav .dropdown {
  border-radius: 0;
}
nav .dropdown li a {
  font-weight: 700;
  padding: 8px 8px;
  border-bottom: 1px solid #6096DA;
}
nav .dropdown li a:hover {
  background-color: #6096DA !important;
}
nav .dropdown li a:active {
  color: #fff;
  text-decoration: none;
  background-color: #6096DA !important;
}
nav .dropdown li a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #6096DA !important;
}
nav .dropdown-item:active {
  text-decoration: none;
  background-color: #6096DA !important;
}
nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

#hero {
  margin-top: 0;
  position: relative;
}
#hero .lear-one {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  mix-blend-mode: darken;
  background: url("images/new/home_img.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #0C3C91;
  background-blend-mode: multiply;
}
#hero .lear-one .under {
  height: 100vh;
  position: relative;
  mix-blend-mode: darken;
}
#hero .lear-one .upper {
  position: absolute;
  top: 2rem;
  right: 0;
}
#hero .lear-two {
  position: absolute;
  background: url(images/new/hom_c.png) left bottom no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 222;
}
#hero .lear-three {
  position: absolute;
  z-index: 333;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #dad1d1;
}
#hero .lear-three .col-md-7 .lte-under {
  position: relative;
  height: 200px;
  width: 200px;
}
#hero .lear-three .col-md-7 .lte-upper {
  position: absolute;
  top: 26%;
  left: 0;
  padding-left: 20px;
  padding-right: 30px;
  border-left: 1px solid grey;
}
#hero .lear-three .col-md-7 .lte-upper .outer {
  width: 1px;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#hero .lear-three .col-md-7 .lte-upper .inner {
  position: absolute;
  width: 100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}
#hero .lear-three .col-md-7 .lte-upper .owl-dots {
  text-align: left;
  padding-top: 50px;
  margin-left: -150px;
}
#hero .lear-three .col-md-7 .lte-upper .owl-dots .owl-dot {
  display: block !important;
  zoom: 2;
  border-bottom: 1px solid grey;
}
#hero .lear-three .col-md-7 .lte-upper .owl-dots .owl-dot span {
  background: rgba(65, 119, 206, 0.623) !important;
  border-radius: 30px;
}
#hero .lear-three .col-md-7 .lte-upper .owl-dots .owl-dot.active span, #hero .lear-three .col-md-7 .lte-upper .owl-dots .owl-dot:hover span {
  background: rgba(3, 29, 71, 0.877) !important;
  border-radius: 30px;
}
#hero .lear-three .col-md-5 {
  padding-top: 300px;
}
#hero .lear-three .col-md-5 .vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}
#hero .lear-two .p-relat .outer {
  width: 1px;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#hero .lear-two .p-relat .inner {
  position: absolute;
  width: 100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}
#hero .lear-two .p-absol {
  position: absolute;
  z-index: 555;
}
#hero .lear-two .p-absol .hr-outer {
  width: 50%;
  height: 1px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#hero .lear-two .p-absol .hr-inner {
  position: absolute;
  width: 50%;
  height: 40%;
  background: grey;
  /*   top: 0%; */
  box-shadow: 20px 0px 30px 20px grey;
}
#hero .play {
  width: 100%;
  display: block;
  margin: 30px 0;
}
#hero .play a {
  width: 64px;
  height: 64px;
  display: table;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#hero .play a:hover {
  text-decoration: none;
}
#hero .play a i {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}
#hero .pulse {
  display: table;
  width: 100px;
  height: 100px;
  background-color: rgba(12, 61, 145, 0.37);
  color: #0C3C91;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(121, 142, 234, 0.4);
  box-shadow: 0 0 0 rgba(121, 142, 234, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#hero .pulse:focus {
  outline: none;
}
#hero .pulse i {
  font-size: 30px !important;
  display: table-cell;
  vertical-align: middle;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
#hero #section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#hero #section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#hero #section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#hero #section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
-----------------------------------------
9.About section Section
-----------------------------------------
*/
#About-section {
  background: url(images/new/c-b.png);
  background-repeat: no-repeat;
  background-position: right bottom -100px;
  background-size: 450px;
  background-blend-mode: multiply;
}

/*
-----------------------------------------
9.Portfolio Section
-----------------------------------------
*/
#protfolio {
  background: url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: left 300px top -100px;
  background-size: 450px;
  background-blend-mode: multiply;
}
#protfolio .btn {
  color: #fff;
  background: #0C3C91;
  border: 1px solid #0C3C91;
  width: 150px;
  margin: 10px 25px;
}
#protfolio .btn:hover {
  color: #0C3C91;
  background: transparent;
}
#protfolio .all {
  text-align: center;
}
#protfolio img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
#protfolio img:hover {
  -webkit-filter: none;
  filter: none;
}

/*
-----------------------------------------
10. Article Section
-----------------------------------------
*/
#articles {
  background: url("images/c1.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 450px;
  background-blend-mode: multiply;
}
#articles .common-heading {
  background: url("images/c.png");
  background-repeat: no-repeat;
  background-position: left 500px center;
  background-size: 180px;
  background-blend-mode: multiply;
}
#articles .text-area {
  background: url("images/bg.png"), url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: left center, right 350px bottom 50px;
  background-size: cover, 450px;
  background-blend-mode: multiply;
}

/*
-----------------------------------------
10. At  a Glance Section
-----------------------------------------
*/
.features-icons {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  color: #212529;
  background: url("images/new/home_img.png"), url("images/new/cc.png"), url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: right center, left 70px center, top 190px center;
  background-color: #0c3d91;
  background-blend-mode: multiply;
}

.features-icons .features-icons-item {
  width: 300px;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 2rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 1.75rem;
  border-radius: 100%;
  background: transparent;
  color: #fff;
  width: 64px;
  height: 64px;
  line-height: 20px;
  text-align: center;
  padding: 20px 0 0 0px;
  margin-bottom: 10px;
  transition: all 0.25s;
  cursor: pointer;
  border: 2px solid #fff;
  border-right: 2px solid transparent;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 2rem;
  background: #0C3C91;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid;
  transition: all 0.25s;
}

#team {
  background: url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: top -170px center, center center;
  background-size: 700px, cover;
  background-blend-mode: multiply;
}
#team .owl-item {
  background: transparent;
}
#team .owl-carousel .owl-item .single-staff-item img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #184faf, 0 0 0 15px #437adb, 0 0 0 20px #6f8cbe, 0 0 0 25px #7d92b5, 0 0 0 30px #c2c9d6;
}
#team .staff-meta {
  font-size: 12px;
  color: #b7b7b7;
  margin-top: 50px;
}
#team .staff-meta h3 {
  font-size: 20px;
  margin: 0 0 10px;
}
#team .staff-list .owl-nav button {
  display: inline-block;
  width: 120px;
  height: 50px;
  color: #f3f3f3 !important;
  background-color: #0C3C91 !important;
  margin-left: 10px;
  transition: 0.3s;
  border: 2px solid #fff;
  background: url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50px;
  background-blend-mode: multiply;
}
#team .staff-list .owl-nav button:hover {
  background: #fff !important;
  color: #0C3C91 !important;
  background: url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50px;
  background-blend-mode: multiply;
}
#team .staff-list .owl-nav {
  position: absolute;
  right: 0;
}
#team .staff-desc {
  margin-top: 20px;
}

/*
-----------------------------------------
10. subscrib Section
-----------------------------------------
*/
#subscribe {
  background-color: #0c3d91;
  color: #fff;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background: url("images/new/home_img.png"), url("images/new/cc.png"), url("images/new/c-b.png");
  background-repeat: no-repeat;
  background-position: right center, left 70px center, top 190px center;
  background-attachment: fixed;
  background-color: #0c3d91;
  background-blend-mode: multiply;
}

.footer-icon a {
  padding: 0 5px;
}
.footer-icon a i {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 10px 10px;
  transition: all 0.25s;
}
.footer-icon a i:hover {
  color: #0C3C91;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

/*# sourceMappingURL=style.css.map */
